.card {
    width: 100%;
    height: 600px;
    margin: auto;
    margin-top: 2%;
    position: relative;
    box-shadow: 0px 0px 5px 1px #fff;
    text-align: center;
    padding: 1% 0;
}

.grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

@media screen and (max-width:800) {
    .card {
        width: 70%;
    }
}

.absolute {
    position: absolute !important;
    z-index: 100;
}

.leftArrow {
    left: 0;
    top: 50%;
}

.rightArrow {
    right: 0;
    top: 50%;
}

.arrow {
    width: 5% !important;
    height: fit-content;
    transform: translate(0%, -50%);
    opacity: 0.6;
    background-color: #fff !important;
    border-radius: 100px !important;
}

.blackColor {
    color: black !important;
}

.button {
    background: transparent !important;
}