.card {
    width: 98%;
    min-height: 100%;
    position: relative;
    border: 1px solid rgb(122, 122, 122) !important;
    margin: 1%;
}

.grid {
    display: grid;
    place-items: center;
    place-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.overflow_scroll {
    height: 10px;
    overflow-y: scroll;
}

.marginAuto{
    margin: auto;
}

.mT6{
    margin-top: 6% !important;
}