.card {
    width: 100%;
    position: relative;
    padding: 0.5% 2%;
    /* margin: 1%; */
    /* background-color: #2f32d3 !important; */
}

.border {
    border: 1px solid #757575 !important;
}

.grid {
    display: grid;
    place-items: center;
    place-content: center;
    grid-template-columns: 1fr;
    /* grid-template-rows: 0.5fr auto 0.5fr; */
}

.rounded_logo {
    border-radius: 100px;
}

.form {
    padding: 1% 3%;
}

.placeInRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10;
    align-items: center;
}

.pY2 {
    padding-top: 2%;
    padding-bottom: 2%;
}

.pX2 {
    padding-left: 2%;
    padding-right: 2%;
}

.mY2 {
    margin: 2% 0 !important;
}

.mX2 {
    margin: 0 2%;
}

.input {
    width: 100%;
}

.flex_evenly {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hidden {
    display: none;
}

.redText {
    color: #d32f2f;
}

.imageList {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.overflow_scroll {
    overflow-y: auto;
}

.textYellow {
    color: yellow;
}

.boldText {
    font-weight: bolder;
}

.disabledButton {
    color: black;
    background-color: grey !important;
}