.textStyle {
  color: white;
  font-size: 2rem;
  padding: 8px
}

.appbar {
  padding: 5px;
  background: black;
  border-bottom: 2px solid white;
}

.block {
  display: block;
}

.flexGrow {
  flex-grow: 1;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.whiteColor {
  color: #fff;
}

.blackBackground {
  background-color: #000;
}

.pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}